
WikiOfAnimals/.vs/WikiOfAnimals/v16/.suo
WikiOfAnimals/.vs/WikiOfAnimals/v16/Server/sqlite3/db.lock
WikiOfAnimals/.vs/WikiOfAnimals/v16/Server/sqlite3/storage.ide
WikiOfAnimals/.vs/WikiOfAnimals/v16/Server/sqlite3/storage.ide-shm
WikiOfAnimals/.vs/WikiOfAnimals/v16/Server/sqlite3/storage.ide-wal
WikiOfAnimals/WikiOfAnimals/bin/Debug/netcoreapp3.1/WikiOfAnimals.deps.json
WikiOfAnimals/WikiOfAnimals/bin/Debug/netcoreapp3.1/WikiOfAnimals.dll
WikiOfAnimals/WikiOfAnimals/bin/Debug/netcoreapp3.1/WikiOfAnimals.exe
WikiOfAnimals/WikiOfAnimals/bin/Debug/netcoreapp3.1/WikiOfAnimals.pdb
WikiOfAnimals/WikiOfAnimals/bin/Debug/netcoreapp3.1/WikiOfAnimals.runtimeconfig.dev.json
WikiOfAnimals/WikiOfAnimals/bin/Debug/netcoreapp3.1/WikiOfAnimals.runtimeconfig.json
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/App.g.cs
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/App.g.i.cs
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/ProjectWindows/MainWindow.baml
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/ProjectWindows/MainWindow.g.cs
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/ProjectWindows/MainWindow.g.i.cs
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/WikiOfAnimals.AssemblyInfo.cs
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/WikiOfAnimals.AssemblyInfoInputs.cache
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/WikiOfAnimals.assets.cache
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/WikiOfAnimals.csproj.FileListAbsolute.txt
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/WikiOfAnimals.csprojAssemblyReference.cache
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/WikiOfAnimals.designer.deps.json
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/WikiOfAnimals.designer.runtimeconfig.json
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/WikiOfAnimals.dll
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/WikiOfAnimals.exe
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/WikiOfAnimals.g.resources
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/WikiOfAnimals.pdb
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/WikiOfAnimals_MarkupCompile.cache
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/WikiOfAnimals_MarkupCompile.i.cache
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/WikiOfAnimals_MarkupCompile.i.lref
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/WikiOfAnimals_MarkupCompile.lref
WikiOfAnimals/WikiOfAnimals/obj/Debug/netcoreapp3.1/Window/MainWindow.g.i.cs
WikiOfAnimals/WikiOfAnimals/obj/project.assets.json
WikiOfAnimals/WikiOfAnimals/obj/WikiOfAnimals.csproj.nuget.cache
WikiOfAnimals/WikiOfAnimals/obj/WikiOfAnimals.csproj.nuget.dgspec.json
WikiOfAnimals/WikiOfAnimals/obj/WikiOfAnimals.csproj.nuget.g.props
WikiOfAnimals/WikiOfAnimals/obj/WikiOfAnimals.csproj.nuget.g.targets
